@charset "ISO-8859-1";
body{
	background : color=black;
	background-repeat: no-repeat;
    object-fit:cover;	
    zoom: 100%;
}
 h1
{
	color:white;
}
h2{
    color:blue;
}

form{
	margin: auto;
	margin-top:0%;
	border: 5px solid white;
	border-radius: 20px;
	text-align: center;
   width:30%;
   background : url(https://nathantravels.com/assets/images/slider-car/slider-bg-02.jpg);
   background-size:cover;
}
 .wrong label{

	color:red;
	 text-align: center;
	visibility: hidden;}
input{
margin:5%;
}	
button{
	margin-bottom: 5%;
}

button:hover{
	background-color: blue;
}
